<?xml version="1.0" encoding="UTF-8"?>
<!--

    SPDX-License-Identifier: EPL-1.0
    See LICENSE file for details.

    Copyright 2010-2026 tomcat-slf4j-logback

-->
<configuration>

    <property name="max.retention.days" value="60" />
    <property name="max.file.size" value="20MB" />

    <!-- always good activate OnConsoleStatusListener -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- For logback-access 1.x -->
        <encoder class="ch.qos.logback.access.PatternLayoutEncoder">
            <pattern>common</pattern>
        </encoder>
        <!-- For logback-access 2.x -->
        <encoder class="ch.qos.logback.access.common.PatternLayoutEncoder">
            <pattern>common</pattern>
        </encoder>
    </appender>

    <!-- Alternative using logstash
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder" />
    </appender>
    -->

    <appender name="ACCESS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/localhost-access.log</file>
        <append>true</append>
        <!-- For logback-access 1.x -->
        <encoder class="ch.qos.logback.access.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>common</pattern>
        </encoder>
        <!-- For logback-access 2.x -->
        <encoder class="ch.qos.logback.access.common.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>common</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/archive/localhost-access-%d{yyyyMMdd}-%i.log.tar.gz</fileNamePattern> 
            <maxHistory>${max.retention.days}</maxHistory>
            <maxFileSize>${max.file.size}</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- Alternative using logstash
    <appender name="ACCESS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/localhost-access.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder" />
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/archive/localhost-access-%d{yyyyMMdd}-%i.log.tar.gz</fileNamePattern> 
            <maxHistory>${max.retention.days}</maxHistory>
            <maxFileSize>${max.file.size}</maxFileSize>
        </rollingPolicy>
    </appender>
    -->

    <appender-ref ref="ACCESS-LOG" />

</configuration>
